{% extends "base.html" %}

{% block content %}
    <h2 style="color: black;">Submit a New Car</h2>
    <form action="{{ url_for('add_car') }}" method="POST" enctype="multipart/form-data">
        {{ form.hidden_tag() }}

        <div class="form-row align-items-center">
            <div class="form-group col-md-8">
                {{ form.make.label }}
                {{ form.make(class="form-control") }}
            </div>

            <div class="form-group col-md-8">
                {{ form.model.label }}
                {{ form.model(class="form-control") }}
            </div>

            <div class="form-group col-md-8">
                {{ form.year.label }}
                {{ form.year(class="form-control", id="year-select") }} <!-- Correctly bind the year form field -->
            </div>

            <div class="form-group col-md-8">
                {{ form.director.label }}
                {{ form.director(class="form-control") }}
            </div>
        </div>

        <div class="form-group col-md-8">
            {{ form.main_settings.label }}
            {{ form.main_settings(class="form-control") }}
        </div>

        <div class="form-group">
            {{ form.description.label }}
            {{ form.description(class="form-control description") }}
        </div>

        <div class="form-group file-input">
            {{ form.image_file.label(class="file-label") }}
            {{ form.image_file(class="form-control") }}
        </div>

        <div class="form-group">
            {{ form.submit(class="btn btn-primary btn-submit") }}
        </div>
    </form>

{% endblock %}
